/* h1{
    color:rgb(0, 255, 145);
    font-size:larger;
    background-color: lightblue

}
p {
 color:dodgerblue;
    background-color:green;
}
button{

    color:hotpink;
    background-color: lightgray;
} */

h1 {

    color: #000000;
    text-align: center;
    font-weight: 900;
    text-decoration: line-through;
    font-family: sans-serif;

}

P {
    background-color: #ff0033;
    color: white;
    text-align: left;
    line-height: normal;
    letter-spacing: 20px;
    font-size: 50px;
}

button {
    background-color: blue;
    color: rgb(255, 255, 255);
    text-align: center;
    font-weight: italic;

}

a {
    text-decoration: none;
}

h2 {
    color: #ffa511;
    font-family: league-spartan;
    text-align: center;
    font-weight: 900;
    font-size: 55px;
    letter-spacing: 2px;
    line-height: 1.5em;
    text-decoration: teal double underline;
    text-transform: uppercase;
}