/* div{
    height: 200px;
    width: 600px;
    background-color:aquamarine;
    border-width: 10px;
    border-color:black;
    border-style:solid;
    border: 5px solid black ;
    border-left-color:blue;
       border-left-style:dotted;
       border-radius:30px;
       padding-left:30px;
       padding-top:20px;
       padding-bottom:-100px;
       margin-bottom:30px;
       margin-left:400px;
} */
h1{

    border-style:double;
    border-width: 5px;
    border-color:aquamarine;
}
button
{
    border-width:5px;
    border-style:solid;
    border-color:chartreuse;
    height:80px;
    width:160px;
    border-radius:50px;
    border-top-right-radius:5px;
    padding-left:25px;
     padding-right:25px;
     background-color:darkturquoise;
     margin:50px;
     margin-left:400px;

}

div {
    border:2px solid black;
    height:100px;
    width: 100px;
    background-color:indianred;
    display:inline-block;
}
#inline-block{
    display:none;
}

#outer{
border:2px solid black;
background-color:darkorchid;
height: 200px;
width: 200px;
font-size:10px;

}

#inner{
border:2px solid black;
background-color:rgb(42, 241, 32);
height: 100px;
width: 100px;
font-size:3em;
padding:1em;


}