div{
    height: 100px;
    width: 100px;
    border:2px solid black;
    background-color:blue;
    display:inline-block;
    margin:10px;
    text-align:center;
}
#static{
    background-color:fuchsia;
    position:static;
    top: 100px;
    left: 100px;
}
#relative{
    background-color:rgb(115, 255, 0);
    position:relative;
    top: 100px;
    left: 100px;
}
#absolute{
    background-color:rgb(211, 33, 33);
    position:absolute;
    top: 100px;
    left: 100px;
}

#fixed{
    background-color:rgb(153, 212, 25);
    position:fixed;
    top: 100px;
    left: 100px;
}
